extends ../layout

block content
    include ../includes/home-header

    //- content
    .am-g.am-g-fixed.blog-fixed.blog-content
        .am-u-sm-12
            h1.blog-text-center -- Archives --
            .timeline-year
                h1= year
                hr
                ul
                    -each val in archives
                        h3= val.month + '月'
                        hr
                        -each val1 in val.post
                            li
                                span.am-u-sm-4.am-u-md-2.timeline-span= val1.created
                                span.am-u-sm-8.am-u-md-6
                                    a(href="/md/summary/" + val1.id + '/README.md')= val1.title
                                span.am-u-sm-4.am-u-md-2.am-hide-sm-only= val1.author_username
                            br
            hr
